
/* Card */
.Card-Wrapper #CardNotif {
    width: 394px;
    height: 168px;
    margin-top: 44px;
    border-radius: 20px;
}

#CardNotif {
    background-color: #0442D0;
}

#CardNotif h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #FABE2C;
}

#CardNotif p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;


}


/* Calendar */

.Calender-Wrapp .react-calendar {
    width: 393px;
    height: 376px;
    margin-top: 46px;
    border-radius: 31px;
}

/* Task */

.btn-create button{
    width: 157px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    border-radius: 15px;

    color: #FFFFFF;
}

.btn-create img {
    width: 13px;
    height: 13px;
    margin-right: 16px;
}

.Task-Tittle {
    margin-top: 54px;
    margin-bottom: 56px;
}

.Task-Tittle h1 {

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    color: #525C77;
}

.task-search input {
    width: 650px;
    border-radius: 15px;
}

.card-task h1 {

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;

    color: #525C77;
}

.card-task {
    background: #FFFFFF;
    box-shadow: 10px 10px 50px 10px #EEF3FD;
    border-radius: 15px;
    margin-top: 32px;
    width: 845px;
}

.content-task p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;

    color: #525C77;
}

.edit-task img {
    width: 17px;
    margin-left: 22px;
    float: right;
}

.btn-taskcancel button {
    background: white;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #0442D0;
}

.btn-task button{
    background: #0442D0;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}